.git/
.vscode/
bin/
out/tests/
src/
tests/
tsconfig.json
tslint.json
webpack.config.js
.gitignore
.travis.yml
appveyor.yml
**/*.js.map
images/ConvertCapture.sh
octave-workspace
TODO.txt
vsce
**/test
# For webpack
node_modules
out/
